.weather-banner {
    width: 100%;
    aspect-ratio: 16 / 5;
    margin-right: auto;
    margin-left: auto;
}

.weather-banner h2 {
    color: white;
    font-weight: 600;
}
.current-weather-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    height: fit-content;
    column-gap: 2em;
}
.current-weather-data-container {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: start;
}
.current-weather-data-container p,
.current-weather-data-container h3 {
    margin-block: 0;
    color: white;
}

.current-weather-data-container h3 {
    font-size: 3.12rem;
    font-weight: 600;
}
.current-weather-current-temp {
    font-size: 3.12rem;
    font-weight: 600;
}
.weather-banner-additional-weather-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
}
