.location-card {
    background-color: var(--white-colour);

    border-radius: 5px;
    border-color: var(--pale-grey-colour);
    border-width: 2px;
    border-style: solid;
    display: grid;
    align-items: center;
    justify-items: left;
    user-select: none;
    margin-top: -2px;
    padding-bottom: 0.5em;
    padding-top: 0.25em;
    padding-left: 0.7em;
    grid-template-rows: auto;
}
.location-card:hover {
    background-color: rgb(180, 180, 180);
}
.location-card h1 {
    font-size: 20px;
    font-weight: 400;
    margin-block: 0;
}
.location-card p {
    font-size: 12px;
    font-weight: 400;
    margin-block: 0;
}
