.menu-overlay {
    height: 100%;
    width: 100%;
    background: rgba(54, 54, 54, 0.767);
    position: fixed;
    top: 0;
    z-index: 9999;
}
.menu {
    width: 20%;
    height: 100%;
    background: var(--menu-bg-colour);
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}
.close-menu-button {
    position: absolute;
    top: 5%;
    left: 25%;
}
.search-bar {
    width: 100%;
    display: flex;
}
.search-bar input[type="search"] {
    flex-grow: 1;
}

.city-search-results-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3em;
}
