@import url("../variables.css");
.pop-up-message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(92, 92, 92, 0.192);
}
.pop-up-message-box {
    position: fixed;
    left: 50vw;
    top: 45vh;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
    max-width: 300px;
    padding: 0.5em 1em;
    height: 20%;
    max-height: 120px;
    background-color: var(--menu-bg-colour);
    border-radius: 5px;
}
.pop-up-message-box-button {
    border-style: solid;
    border-color: var(--pale-grey-colour);
    border-radius: 5px;
    border-width: 0.5px;
    padding: 0.5em 2em;
}
.pop-up-message-box-button:hover {
    background-color: var(--button-hover-colour);
}
