.precipitation-card {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    width: 60%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.precipitation-card h2 {
    margin-block: 0em;
}

.precipitation-icon {
    justify-self: center;
    /* width: 32px;
    height: 32px; */
}
.precipitation-text {
    text-align: right;
    font-size: 1.5rem;
    margin-block: 0em;
}
