@import url("../variables.css");
/* Themes based on current weather of "Today" forecast */
.weather-card-clear-sky-theme {
    background-color: var(--off-white-colour);
}
.weather-card-night-theme {
    background-color: var(--space-grey-colour);
}
.weather-card-fog-theme {
    background-color: var(--grey-blue-colour);
    color: white;
}
.weather-card-grey-sky-theme {
    background-color: var(--grey-colour);
}
.weather-card-snow-theme {
    background-color: var(--grey-colour);
}
.weather-card-thunderous-theme {
    background-color: var(--thunderous-blue-colour2);
}
/* --------------------------- */

.weather-card {
    width: 97%;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto auto;
}
.weekday-text {
    text-align: center;
    margin-block: 0 0.5em;
}
.weather-card-data-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 0.5em;
}
.weather-card-data-temp-container {
    display: grid;
    grid-template-rows: max-content max-content;
    row-gap: 0.7em;
}
.temp-text {
    margin-block: 0;
    font-size: 1.2rem;
    text-align: right;

    padding-right: 0.2em;
}

@media screen and (min-width: 900px) {
    .weather-card {
        width: 97%;
        border-radius: 2%;
        display: grid;
        grid-template-rows: auto auto;
        aspect-ratio: 1 /0.8;
    }
}

@media screen and (min-width: 1200px) {
    .temp-text {
        font-size: 1.25rem;
    }
    .weather-card-data-container {
        padding-left: 0.6em;
        padding-right: 0.6em;
    }
}
