/* Themes based on current weather of "Today" forecast */
.weather-card-clear-sky-theme {
    background-color: #ededed;
}
.weather-card-night-theme {
    background-color: #dad9d9;
}
.weather-card-fog-theme {
    background-color: #406d7e;
}
.weather-card-grey-sky-theme {
    background-color: #c0c0c0;
}
.weather-card-snow-theme {
    background-color: #c0c0c0;
}
.weather-card-thunderous-theme {
    background-color: #5f86ce;
}
/* --------------------------- */

.weather-card {
    width: 95%;
    border-radius: 2%;
    display: grid;
    grid-template-rows: auto auto;
}
.weekday-text {
    text-align: center;
    margin-block: 0 0.5em;
}
.weather-card-data-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 0.5em;
}
.weather-card-data-temp-container {
    display: grid;
    grid-template-rows: auto auto;
}
.temp-text {
    margin-block: 0;
    font-size: 1.2rem;
    text-align: right;
    margin-right: 0.8em;
}
