@import url("./variables.css");
.loading-screen {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 25vh;
}
.app-container {
    height: 100%;
    width: 100%;
}
.app-main-content {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding-bottom: 10%;
    width: 80%;
    justify-self: center;
}
.content-header {
    /* margin-left: 10%; */
    color: white;
}
.precipitation-card-container {
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: auto;
    row-gap: 0.3em;
}

.weekly-forecast-content {
    position: relative;
}
.weekly-forecast-left-scroll-button {
    position: absolute;
    right: 102%;
    top: 20%;
    width: 42px;
    height: 71px;
    padding: 0;
    border: none;
    background: none;
    align-items: center;
}

.weekly-forecast-right-scroll-button {
    position: absolute;
    left: 102%;
    top: 20%;
    width: 42px;
    height: 71px;
    padding: 0;
    border: none;
    background: none;
    align-items: center;
}

.button-svg-icon {
    width: 99%;
    height: 99%;
    object-fit: cover;
}
.weather-card-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.3%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    grid-auto-columns: 33%;
    column-gap: 0.5%;
    /* scrollbar-color: rgba(148, 140, 140, 0.747) rgba(255, 255, 255, 0.63); */
}
/* faking a margin with the scroll bar */
.weather-card-container::-webkit-scrollbar {
    height: 50px;
}
/* weather-card-container::-webkit-scrollbar-track {
    border: 15px solid transparent; 
    background-clip: padding-box;
    border-radius: 22px;
    background-color: rgb(255, 0, 0);
} */

/* used to round the inner scroll bar thum and have it appear inset in the track */
.weather-card-container::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 20px solid transparent;
    background-clip: content-box;
}
/*------------------- scroll bar themes------------ */
/* need to do same code per theme or else it doesn't work */
.weather-card-container-clear-sky-theme::-webkit-scrollbar-track {
    border: 16px solid transparent; /*setting an visible border around the scroll bar track make it appear lower*/
    background-clip: padding-box;
    border-radius: 25px;
    background-color: rgba(83, 83, 83, 0.37);
}
.weather-card-container-night-theme::-webkit-scrollbar-track {
    border: 16px solid transparent; /*setting an visible border around the scroll bar track make it appear lower*/
    background-clip: padding-box;
    border-radius: 25px;
    background-color: rgba(20, 20, 20, 0.37);
}

.weather-card-container-grey-sky-theme::-webkit-scrollbar-track,
.weather-card-container-thunderous-theme::-webkit-scrollbar-track,
.weather-card-container-fog-theme::-webkit-scrollbar-track,
.weather-card-container-snow-theme::-webkit-scrollbar-track {
    border: 16px solid transparent; /*setting an visible border around the scroll bar track make it appear lower*/
    background-clip: padding-box;
    border-radius: 25px;
    background-color: rgba(20, 20, 20, 0.37);
}
@media screen and (min-width: 900px) {
    .weather-card-container {
        margin-left: auto;
        margin-right: auto;
        padding: 0 0.3%;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        grid-auto-columns: 20%;
        column-gap: 0.25%;
    }
}
@media screen and (min-width: 1200px) {
    .weather-card-container {
        margin-left: auto;
        margin-right: auto;
        padding: 0 0.3%;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        grid-auto-columns: 16.5%;
        column-gap: 0.25%;
        height: fit-content;
    }
}
@media screen and (min-width: 1440px) {
    .app-main-content {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
        padding-bottom: 10%;
        width: 65%;
        justify-self: center;
    }
    .weather-card-container {
        margin-left: auto;
        margin-right: auto;
        padding: 0 0.3%;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        overflow-x: auto;
        grid-auto-columns: 16.5%;
        column-gap: 0.25%;
        height: fit-content;
    }
    .precipitation-card-container {
        width: 100%;
    }
}

.precipitation-card-container-clear-sky-theme {
    background-color: var(--off-white-colour);
}
.precipitation-card-container-grey-sky-theme {
    background-color: var(--grey-colour);
}
.precipitation-card-container-snow-theme {
    background-color: var(--space-grey-colour);
}
.precipitation-card-container-night-theme {
    background-color: var(--space-grey-colour);
}
.precipitation-card-container-thunderous-theme {
    background-color: var(--thunderous-blue-colour2);
}
.precipitation-card-container-fog-theme {
    background-color: var(--grey-blue-colour);
}

.clear-sky-theme {
    background-color: var(--pale-blue-colour);
}
.night-theme {
    background-color: var(--grey-blue-colour);
}
.fog-theme {
    background-color: var(--dark-grey-blue-colour);
}
.grey-sky-theme {
    background-color: var(--cement-grey-colour);
}
.snow-theme {
    background-color: var(--grey-blue-colour);
}
.thunderous-theme {
    background-color: var(--thunderous-blue-colour);
}
