.loading-screen {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 25vh;
}
.app-container {
    height: 100vh;
    width: 100vw;
}
.app-main-content {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    /* height: 100vh; */
}
.weather-card-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.3%;
    width: 80%;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    grid-auto-columns: 20%;
    column-gap: 1px;
}

.clear-sky-theme {
    background-color: #aabee3;
}
.night-theme {
    background-color: #46536c;
}
.fog-theme {
    background-color: #154558;
}
.grey-sky-theme {
    background-color: #8e9094;
}
.snow-theme {
    background-color: #46536c;
}
.thunderous-theme {
    background-color: #0041b9;
}
