:root {
    --grey-colour: #c0c0c0;

    /* cloudy or rainy days colours */
    --cement-grey-colour: #8e9094;

    /*  sunny days colours*/
    --pale-blue-colour: #aabee3;
    --light-grey-colour: #d9d9d9;
    --off-white-colour: #ededed;

    /* snow or night colour */
    --grey-blue-colour: #46536c;
    --space-grey-colour: #dad9d9;

    /* thunderstorm day colours */
    --thunderous-blue-colour: #0041b9;
    --thunderous-blue-colour2: #5f86ce;

    /* Ateez golden hour pt4 colours for fog */
    --dark-grey-blue-colour: #154558;
    --grey-blue-colour: #406d7e;

    /* Menu colours */
    --menu-bg-colour: #e5e5e5;
    --white-colour: #ffffff;
    --pale-grey-colour: #c8c8c8;

    /* button hover colour */
    --button-hover-colour: rgb(180, 180, 180);
}
